In [30]:
import numpy as np
import pandas as pd
import os
import datetime

In [31]:
#import data
parent_folder = os.path.abspath('..')
data_path = parent_folder+'\sorting_event_volumes_2023.csv'
data = pd.read_csv(data_path)

In [32]:
display(data)

,sorting_center_name,event_location,event_type,scanning_date,input_belt,output_belt,position,no_of_events
0,VANTAA,1000388,LAJ,2023-01-02,NaN,NaN,NaN,20
1,VANTAA,1000388,LAJ,2023-01-03,NaN,NaN,NaN,18
2,VANTAA,1000388,LAJ,2023-01-04,NaN,NaN,NaN,17
3,VANTAA,1000388,LAJ,2023-01-05,NaN,NaN,NaN,24
4,VANTAA,1000388,LAJ,2023-01-09,NaN,NaN,NaN,15
...,...,...,...,...,...,...,...,...
8949716,OULU,90940641,REK,2023-12-27,NaN,NaN,NaN,22
8949717,OULU,90940641,REK,2023-12-28,NaN,NaN,NaN,32
8949718,OULU,90940641,REK,2023-12-29,NaN,NaN,NaN,21
8949719,OULU,90940641,REK,2023-12-30,NaN,NaN,NaN,14
8949720,OULU,90940641,REK,2023-12-31,NaN,NaN,NaN,1

In [36]:
#change dtype of scanning date to datetime
data['scanning_date'] = pd.to_datetime(data.scanning_date,format='%Y-%m-%d')

#add column with weekday
data['weekday'] = data['scanning_date'].dt.dayofweek
display(data)

,sorting_center_name,event_location,event_type,scanning_date,input_belt,output_belt,position,no_of_events,weekday
0,VANTAA,1000388,LAJ,2023-01-02,NaN,NaN,NaN,20,0
1,VANTAA,1000388,LAJ,2023-01-03,NaN,NaN,NaN,18,1
2,VANTAA,1000388,LAJ,2023-01-04,NaN,NaN,NaN,17,2
3,VANTAA,1000388,LAJ,2023-01-05,NaN,NaN,NaN,24,3
4,VANTAA,1000388,LAJ,2023-01-09,NaN,NaN,NaN,15,0
...,...,...,...,...,...,...,...,...,...
8949716,OULU,90940641,REK,2023-12-27,NaN,NaN,NaN,22,2
8949717,OULU,90940641,REK,2023-12-28,NaN,NaN,NaN,32,3
8949718,OULU,90940641,REK,2023-12-29,NaN,NaN,NaN,21,4
8949719,OULU,90940641,REK,2023-12-30,NaN,NaN,NaN,14,5
8949720,OULU,90940641,REK,2023-12-31,NaN,NaN,NaN,1,6